<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{% block title %}{% endblock %} | Dotkernel Light V1</title>
        {% block canonical %}
            <link rel="canonical" href="{{ url(routeName ?? null) }}" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/app/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/app/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/app/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/app/favicon/site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">

        <!-- Twitter card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@dotkernel">
        <meta name="twitter:title" content="PHP REST API application | Dotkernel Application">
        <meta name="twitter:description"
              content="An opinionated framework-less tool aimed at intermediate-to-advanced level programmers to start
           implementing REST APIs swiftly and efficiently.">
        <meta name="twitter:image" content="{{ url('home') }}images/app/PHP-REST-API.png">
        <meta name="twitter:image:alt" content="PHP REST API application | Dotkernel Application">

        <!-- OpenGraph card -->
        <meta property="og:title" content="PHP REST API application | Dotkernel Application"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ url('home') }}"/>
        <meta property="og:image" content="{{ url('home') }}images/app/PHP-REST-API.png"/>
        <meta property="og:description"
              content="An opinionated framework-less tool aimed at intermediate-to-advanced level programmers to start
          implementing REST APIs swiftly and efficiently."/>

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Space+Grotesk:200,300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600" rel="stylesheet">

        <link href="{{ asset('css/app.css') }}" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="app {% block body_class %}{% endblock %}">
        <div id="wrapper">
            <header class="app-header">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a href="/" class="navbar-brand">
                            <img src="{{ asset('images/app/logo-red-full.svg') }}" alt="Dotkernel API"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="menu" id="navbarHeader">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="https://docs.dotkernel.org/api-documentation/">Documentation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="https://www.dotkernel.com/">Dotkernel
                                        Applications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="https://www.dotkernel.com/blog/">Blog</a>
                                </li>
                                <li class="button-border">
                                    <a class="nav-link" target="_blank" href="https://github.com/dotkernel/api">GitHub</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Content Wrapper. Contains page content -->
            <div class="app-content content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block page_title %}{% endblock %}
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %}{% endblock %}
                </section>
            </div>

            <div id="push"></div>
        </div>

        <footer class="app-footer">
            <div class="container container-border">
                <div class="row">
                    <div class="col-md-9">
                        <div class="footer_head">
                            <h2>Dotkernel</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 dk_widget">
                                <p class="footer-item-title">
                                    Dotkernel API
                                </p>
                                <p class="footer-item-link margin-small">
                                    <a href="https://github.com/dotkernel" target="_blank">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Go to Git
                                    </a>
                                </p>
                                <p class="footer-item-link margin-small">
                                    <a href="/page/flowMiddlewares">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Middleware Flow
                                    </a>
                                </p>
                                <p class="footer-item-link margin-small">
                                    <a href="/page/flowLibraries">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Default Library Flow
                                    </a>
                                </p>
                                <p class="footer-item-link margin-large">
                                    <a href="/page/flowLibrariesEmail">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Library Flow for Email
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-6 dk_widget">
                                <p class="footer-item-title">
                                    Dotkernel All Repositories
                                </p>
                                <p class="footer-item-link margin-large">
                                    <a href="https://github.com/dotkernel" target="_blank">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Go to Git
                                    </a>
                                </p>
                                <p class="footer-item-title">
                                    Dotkernel Admin
                                </p>
                                <p class="footer-item-link margin-large">
                                    <a href="https://github.com/dotkernel/admin" target="_blank">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Go to Git
                                    </a>
                                </p>
                                <p class="footer-item-title">
                                    Dotkernel Frontend
                                </p>
                                <p class="footer-item-link margin-large">
                                    <a href="https://github.com/dotkernel/frontend" target="_blank">
                                        <img src="{{ asset('images/app/icon/hand.svg') }}">
                                        Go to Git
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer_head">
                            <h2>Support</h2>
                        </div>
                        <p class="footer-item-support margin-small">
                            <a href="https://github.com/dotkernel" target="_blank">
                                <img src="{{ asset('images/app/icon/vector.svg') }}">
                                Git
                            </a>
                        </p>
                        <p class="footer-item-support margin-small">
                            <a href="https://x.com/dotkernel" target="_blank">
                                <img src="{{ asset('images/app/icon/twitter.png') }}">
                                Find Us on X
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <p class="footer-headline">
                        © {{ 'now' | date('Y') }} by <a href="https://www.dotkernel.com" target="_blank">
                         Dotkernel</a> a collection of PSR-7 Middleware applications and libraries
                    </p>
                </div>
            </div>
        </footer>

        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
