{% extends '@layout/default.html.twig' %}

{% block title %}Middleware Flow{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="page-intro">
        <div class="container">
            <h2>Middleware Flow</h2>
            <p>The graph below demonstrates a default flow between Dotkernel's middlewares.</p>
        </div>
    </div>

    <div class="flow-graphs middlewares">
        <div class="flow-container">
            <div class="box-big">
                <div class="title">ProblemDetailsMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">BodyParamsMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ServerUrlMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">CorsMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">RouteMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ImplicitHeadMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ImplicitOptionsMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">MethodNotAllowedMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ContentNegotiationMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">DeprecationMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ResponseHeaderMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">UrlHelperMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">AuthenticationMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">AuthorizationMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ResourceProviderMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">DispatchMiddleware</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">ProblemDetailsNotFoundHandler</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
            <div class="two-arrows">
                <img class="arrow-down" src="{{ asset('images/app/icon/arrow-down.svg') }}" alt="Request">
                <img class="arrow-up" src="{{ asset('images/app/icon/arrow-up.svg') }}" alt="Response">
            </div>

            <div class="box-big">
                <div class="title">GetNotFoundResourceHandler</div>
                <div class="box-small request">
                    <img src="{{ asset('images/app/icon/arrow-in.svg') }}" alt="Request">
                    <div class="text">Request</div>
                    <div class="button">Route</div>
                </div>
                <div class="box-small response">
                    <img src="{{ asset('images/app/icon/arrow-out.svg') }}" alt="Response">
                    Response
                </div>
            </div>
        </div>
    </div>
{% endblock %}
